<h4>Nouvelle confirmation de la part de [famille]</h4>

<p>Rappel du Dashbard pour voir les stats RSVP :<br>
    - http://localhost:8000/dashboard.php</p>

<p>Leur commentaire :<br>
    <strong>[commentaire]</strong>
</p>

<h4>Voici leurs informations :</h4>

<p>Bonjour [famille] !</p>

<p>Votre confirmation est bien enregistrée, merci !<br>
    Si vous nous avez ajouté un commentaire, il sera bien lu :)</p>

<p>Vous pouvez modifier vos choix jusqu'au xx/xx/xxxx car passé cette date nous devons confirmer le nombre de personnes
    présentes auprès de nos prestataires.</p>

<p>Voici le lien pour modifier votre choix : <a
        href="http://localhost:8000/rsvp.php?code=[code]#rsvp">http://localhost:8000/rsvp.php?code=[code]#rsvp</a> </p>

<p><strong>Vos informations :</strong></p>

<ul>
    <li>Famille : [famille]</li>
    <li>Email : [email]</li>
    <li>Présent pour : [choix]</li>
    <li>Invités confirmés : [invites]</li>
    <li>Consignes pour le repas : [consignes]</li>
    <li>Une musique : [musique]</li>
</ul>
<p>Toutes les informations utile sont sur le site : programme détaillés, plans d'accès Google Maps</p>
<p>Nous avons hâte de vous retrouver !</p>
<p>Béatrice et Sébastien</p>