Nouvelle confirmation de la part de [famille]

Leur commentaire :
[commentaire]


Voici leurs informations :

- - - - - - - - - - - - - - -


Bonjour [famille] !

Votre confirmation est bien enregistrée, merci !
Si vous nous avez ajouté un commentaire, il sera bien lu :)

Vous pouvez modifier vos choix jusqu'au xx/xx/xxxx car passé cette date nous devons confirmer le nombre de personnes
présentes auprès de nos prestataires.

Voic le lien pour modifier votre choix :

http://localhost:8000/rsvp.php?code=[code]#rsvp

Vos informations :
- Famille : [famille]
- Email : [email]
- Présent pour : [choix]
- Invités confirmés : [invites]
- Vous voulez rester pour la nuit : [nuit]
- Consignes pour le repas : [consignes]
- Une musique : [musique]


Toutes les informations utile sont sur le site : programme détaillés, plans d'accès Google Maps

Nous avons hâte de vous retrouver !

Béatrice et Sébastien