html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 2.5rem;
}
h3:last-child {
  margin-bottom: 0;
}

body > main {
  background-color: aquamarine;
  padding-block: 0;
}

.section {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  // border: 1px solid red;
  margin-bottom: 0;
  padding: 2em;

  .container {
    width: min(720px, 100%);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 0;
  }
}

.section.hero {
  text-align: center;
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0 !important;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    list-style: none;
    border: 1px dotted #aaa;
    background-color: aliceblue;
    padding: 1rem;
    min-height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: block;
      padding: 0;
      margin: 0;
    }

    &::before,
    &::marker {
      display: none;
    }
  }
}

/* Formulaire */
.split {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: calc(var(--pico-spacing) * 0.25);
}
